/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/

th {
  text-decoration: underline;
}

label {
  text-decoration: underline;
}

.notewriter {
	display: flex;
	justify-content: center;
}

.super-container {
	display: flex;
	justify-content: center;
/*	width: 800px;
	max-width:100%;
	overflow-x: scroll; */
}

.notes {
	display: flex;
	justify-content: flex-start;
/*	width: 778px;
	max-width:100%
	overflow-x: scroll; */
	flex-wrap: wrap;
}

.fa-trash {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	cursor: pointer;
}

.note {
	word-wrap: break-word;
}

