.notewriter {
	display: flex;
	justify-content: center;
}

.super-container {
	display: flex;
	justify-content: center;
}

.notes {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}


.note-body {
	word-wrap: break-word;
	white-space: pre-line;
}

.note-title {
	padding-bottom: 0!important;
  	margin-bottom: 0!important;
}


.wrapper{
	display: flex;
	justify-content: space-between;
}

.footer-buttons{
	display: none;
}


.edit-delete-buttons {
    display: none;
	justify-content: flex-end;
	cursor: pointer;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 49em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 64em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 79em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

