/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/

th {
  text-decoration: underline;
}

label {
  text-decoration: underline;
}

.super-container {
	display: flex;
	justify-content: flex-start;
	/*max-width:100%;*/
	/*overflow-x: scroll; */
}

.notes {
	display: flex;
	width: 1000px;
	flex-wrap: wrap;
}

.trashcan {
	display: inline-block;
	float: right;
  	vertical-align: -100px;
}

